<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<!-- 输出到控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="utf-8"> <!-- encoders默认类型是 ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

    <!-- 回滚方式文件记录 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/logback.log</file>
		<!-- Policy定义如何滚动，按日志时间滚动生成日志 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/tmp/logback-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <!-- 每个文件最大100MB -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
        <encoder charset="utf-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
	</appender>

	<!-- additivity=false指定之后，如果日志在当前logger打出来了，就不会向其父logger=root打印 -->
	<logger name="com.pugwoo" level="DEBUG" additivity="false">
	    <!-- 多个appender的关系是独立的 -->
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- root的级别默认是DEBUG -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>